.place__txt {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__txt {
    gap: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 684px) {
  .place__txt {
    padding: 0 16px;
  }
}
