.content__box {
  padding: 0 48px;
  display: flex;
  gap: 92px;
  flex-direction: column;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}
