.places__link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .places__link {
    padding: 0 16px;
  }
}
