.lead {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(320px, 984px);
  padding: 0 100px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}
