.header {
  padding: 28px 48px;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px;
  }
}
