.content {
  padding: 0 48px;
  display: flex;
  gap: 92px;
  flex-direction: column;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0;
    gap: 114px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    gap: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .content {
    gap: 64px;
  }
}
