.content {
  padding: 28px 48px 0 48px;
  display: flex;
  gap: 92px;
  flex-direction: column;
  min-width: 320px;
  max-width: 1280px;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .content {
    gap: 88px;
  }
}

@media screen and (max-width: 684px) {
  .content {
    padding: 32px 0 0;
    gap: 64px;
  }
}
