.intro {
  max-width: 690px;
  padding-left: 100px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 684px) {
  .intro {
    padding: 0 16px;
  }
}
