.places__item {
  display: grid;
  grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
  gap: 48px 40px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .places__item {
    grid-template-columns: minmax(320px, 440px) minmax(288px, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__item {
    grid-template-columns: minmax(320px, 340px) minmax(288px, 452px);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 760px) {
  .places__item {
    grid-template-columns: minmax(288px, 1fr);
    gap: 32px;
  }
}

